<section>
  <img id='index-image' src="../images/beer.png" alt='beer-image' />
  <div class='link-container'><a href="/beers">Check the beers</a></div>
  <div class='link-container'><a href="/random-beer">Check random beer</a></div class='link-container'>
</section>
